.order-table {
  border: 1px solid transparent;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Make sure it takes the full height available */
  box-sizing: border-box;
  width: 100%; /* Adjust to fill the grid cell */
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  align-items: center; /* Align items in the center vertically */
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 5px;
}

.orders {
  flex-grow: 1; /* Make the orders section grow to fill available space */
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 200px;
  box-sizing: border-box; /* Adjust this value based on your design */
}

.orders::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.orders {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.order {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  width: 100%;
}

.table-title {
  font-weight: bold;
  text-align: left;
  flex: 1; /* Allow the title to take up the available space */
}

.id-server {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align text to the right */
  text-align: right; /* Text aligned to the right */
}

.time-status, .people-count {
  font-size: 0.7em;
}

.placeholder {
  flex-grow: 1; /* Ensure it takes up the same space as the orders would */
  display: flex;
  align-items: center; /* Center the placeholder text vertically */
  justify-content: center; /* Center the placeholder text horizontally */
  height: 100%;
  background-color: #f0f0f0; /* Slightly different background to indicate emptiness */
}

.placeholder-id {
  font-size: 24px; /* Large font size for visibility */
  color: #ccc; /* Lighter text color */
}


.new {
  background-color: grey;
}
.cooking {
  background-color: orange;
}
.done {
  background-color: green;
}

.highlighted {
  border-width: 8px; /* Thicker border for highlighted state */
}
