.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #333;
  box-shadow: 0 0 0 1px rgba(52, 52, 52, 0.5);
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 100%;
  width: auto;
  margin-right: 48px;
}

.time-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 1.2em;
}

.page-info {
  font-size: 0.8em;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #777;
}

@media (max-width: 600px) {
  .navbar {
      height: 50px; /* Smaller navbar on smaller screens */
  }
  .logo {
      max-height: 80%; /* Smaller logo to fit a smaller navbar */
  }
}
