.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.order-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 45%; /* Adjust to fit 2 rows of 4 */
}

.orders {
  overflow-y: auto;
  max-height: 200px; /* Adjust based on your design */
}
