.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust height to fit screen */
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #777;
}
