.App {
  position: relative; /* Ensures the absolute positioning is relative to this container */
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 64px 10px 10px; /* Increased top padding */
  box-sizing: border-box;
}


.side-button {
  position: absolute;
  top: 50%; /* Centers vertically */
  transform: translateY(-50%); /* Aligns center */
  z-index: 10; /* Ensures it's above other content */
  opacity: 0; /* Makes buttons invisible but still interactive */
  background-color: transparent; /* No background */
  border: none; /* No borders */
  width: 16px; /* Sufficient width for easier interaction */
  height: 16px; /* Sufficient height for easier interaction */
  cursor: pointer; /* Shows a pointer to hint at interactivity */
}

.side-button.left {
  left: 0; /* Positions button on the left side of the screen */
}

.side-button.right {
  right: 0; /* Positions button on the right side of the screen */
}
